.aboutus, .contexte, .equipe, .fonctionnement, .titre{
	padding-left: 300px;
	width: calc(100% - 300px);
	overflow: hidden;
}
.philosophie{
	padding-left: 400px;
	width: calc(100% - 400px);
	overflow: hidden;
}
.aboutus h1{
	font-family: "Open Sans";
	font-weight: 700;
	color: black;
	font-size:49px;
	margin-bottom:5.5%;
}
.aboutus h2, .contexte div h2, .philosophie h2, .fonctionnement div h2, .titre div h2{
	font-family: "Open Sans";
	font-weight: 800;
	color: #F38C3E;
	font-size:14px;
	margin-bottom:2%;
	text-transform: uppercase;
}
.aboutus div.background{
	background: url("../../dist/img/img-content/aboutus1.jpg") no-repeat;
	width: 48%;
	height:64%;
	margin: 14% 0 2%;
	float: left;
}
.aboutus div.text{
	width: 45%;
	position: absolute;
	margin: 18% 0 0 29%;
}
.aboutus div.text p{
	width: 40%;
	float: left;
	padding: 2%;
}
.aboutus div.text p:nth-child(2){
	margin-top: 1%;
}
.aboutus div.text p span, .contexte div p span, .philosophie p span, .titre div p span {
	font-weight: 700;
	font-size: 38px;
}
.aboutus a{
	display: block;
	clear: both;
	text-align: center;
	color: #F38C3E;
	border: 1px solid #F38C3E;
	width: 90px;
	padding: 1%;
	font-family: "Open Sans";
	font-size:12px;
	margin: 0 39%;
	cursor: pointer;
}


.contexte{
	margin:10% 0 8%;
}
.contexte div:first-child{
	width:38%;
	float: left;
}
.contexte div:first-child p {
	 width: 84%;
 }
.contexte div h2 {
	margin-bottom:9%;
}
.contexte div img{
	margin:16% 0 20%;
}
.contexte div.do-more{
	width: 80%;
	position: absolute;
	text-align: left;
}
.contexte div.do-more span{
	margin-left:2%;
}
.contexte div.do-more:after {
	content: "";
	display: inline-block;
	margin: 0 7px;
	width: 30%;
	height: 1px;
	background: #979797;
	vertical-align: middle;
}
.contexte div.do-more i {
	display: inline-block;
	margin: 0 30px;
}
.contexte div .background{
	background: url("../../dist/img/img-content/aboutus2.png") no-repeat;
	width: 37%;
	height:100%;
}
.contexte div:nth-child(2) p{
	padding-top: 46%;
	width: 98%;
	font-style: italic;
	color: #7c7c7c;
	line-height: 21px;
	font-size: 15px;
	font-family: inherit;
}


.philosophie div{
	width: 35%;
	float: left;
	margin-left: 8%;
}
.philosophie div p{
	margin-top:6%;
}
.philosophie div p:nth-child(2) {
	margin-top:8%;
}

.equipe{
	height: 90vh;
}
.equipe h3{
	text-transform: uppercase;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	margin: 0% 0 6%;
	font-size: 23px;
	text-decoration: underline #F38C3E ;
	margin-right:4%;
}
.equipe div{
	display: flex;
	justify-content: flex-end;
	margin-right:4%;
	align-items: flex-start;
}
.equipe div div {
	flex-direction: column;
	width: 20%;
	margin-left: 1%;
}
.equipe div div h4{
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 800;
	color:black;
	margin:11% 0 4%;
}
.equipe div div p{
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-style: italic;
	color: #7C7C80;
}

.fonctionnement{
	height:50vh;
}
.fonctionnement div {
	text-align: center;
	margin-right:4%;
}
.fonctionnement div p{
	font-family: Cardo,serif;
	font-size: 47px;
	line-height: 61px;
	width: 85%;
	margin: 0 auto;
}


.titre{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height:120vh;
}
.titre div h2{
	margin:13% 0 7% 7%;
}
.titre div {
	width:42%;
}
.titre div:first-child{
	order:2;
	width:55%;
}
.titre div:first-child p {
	width:57%;
	margin: 0 0 12% 7%;
}
.titre div:first-child img {
	width:73%;
}
.titre div:nth-child(2){
	text-align: center;
}
.titre div:nth-child(2) img{
	margin-bottom:35%;
}
.titre div:nth-child(2) .guillemet{
	font-family: Cardo,serif;
	font-size: 106px;
	color: #F38C3E;
	width:inherit;
	margin-left:30%;
}
.titre div:nth-child(2) p {
	font-family: Cardo,serif;
	font-size: 26px;
	line-height: 31px;
	width:70%;
	margin-left:15%;
}


@media screen and (max-width: 1110px) {
	section p {
		font-size: 15px;
	}
	.aboutus{
		height:102vh;
	}
	.aboutus div.background{
		height:68%;
	}
	.aboutus div.text {
		width: 50%;
		margin: 18% 0 0 20%;
	}
	.aboutus div.text h1{
		font-size: 39px;
	}
	.aboutus div.text p{
		width:46%;
	}
	.aboutus a {
		width: 110px;
		padding: 2%;
		font-size: 15px;
		margin: 0 39.5%;
	}

	.contexte{
		height:148vh;
		margin: 6% 0 0%;
	}
	.contexte div:first-child{
		float: none;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		width: 100%;
	}
	.contexte div h2{
		text-align: center;
		margin: 5% auto;
		width: 100%;
	}
	.contexte div:first-child p{
		width: 100%;
		text-align: center;
	}
	.contexte div:first-child p:nth-child(3){
		width:58%;
		margin:0 auto;
	}
	.contexte div.background{
		width: 32%;
		float: right;
		margin: 10% 7% 10% 3%;
	}
	.contexte div img {
		margin: 450px 3% 0 3%;
		position: absolute;
		width: 300px;
	}
	.contexte div:nth-child(2) p {
		padding-top: 300px;
		width: 41%;
		font-size: 17px;
		margin-left: 6%;
	}
	.contexte div.do-more{
		bottom: 0;
		margin-bottom: 190px;
		margin-left: 10%;
	}
	.contexte div.do-more:after{
		width:23%;
	}
	.philosophie{
		height:75vh;
	}
	.philosophie h2{
		margin-bottom:6%;
	}
	.philosophie div{
		width: 66%;
		float: none;
		margin-left: 10%;
	}
	.philosophie div p:nth-child(2){
		margin-top:6%;
	}
	.philosophie div:nth-child(3){
		display: none;
	}

	.equipe{
		height:128vh;
	}

	.equipe div {
		margin-right:inherit;
		flex-wrap: wrap;
	}
	.equipe div div {
		flex-direction: column;
		width: 50%;
		margin-left: inherit;
		align-items: center;
	}
	.equipe div div img{
		width: 60%;
	}
	.equipe h3 {
		margin: 0% 0% 10%;
	}
	.equipe div div h4 {
		margin: 3% 0 2%;
	}
	.equipe div div p {
		margin-bottom: 12%;
	}


	.fonctionnement{
		height:38vh;
	}
	.fonctionnement div p {
		font-size: 38px;
		line-height: 60px;
		width: 80%;
	}

	.titre{
		height:150vh;
	}
	.titre div {
		width: 50%;
	}
	.titre div:first-child{
		order:0;
		width:50%;
	}
	.titre div:first-child p {
		width: 90%;
	}
	.titre div:first-child img {
		width: 70%;
		margin-left: 65px;
	}
	.titre div:nth-child(2) img{
		width: 70%;
		margin-top: 25%;
		margin-bottom:20%;
	}

}

@media screen and (max-width: 1000px) {
	.aboutus div.text p:nth-child(4) {
		display: none;
	}
	.aboutus div.text {
		width: 50%;
		margin: 18% 0 0 27%;
	}
	.aboutus div.text h1 {
		font-size: 33px;
	}
	.aboutus div.text p {
		width: 73%;
	}
	.contexte div img {
		margin: 400px 3% 0 3%;
	}
	.contexte div:nth-child(2) p {
		padding-top: 250px;
	}
	.philosophie{
		padding-left: 350px;
		width: calc(100% - 350px);
	}
}





@media screen and (max-width: 900px) {


	.aboutus div.background {
		height: 70%;
	}
	.aboutus div.text {
		width: 50%;
		margin: 22% 0 0px 18%;
	}
	.contexte{
		margin: 4% 0 0 0;
		height:144vh;
	}
	.contexte div:first-child p:nth-child(3) {
		width: 60%;
	}
	.contexte div img {
		margin: 397px 3% 0 2%;
		width: 260px;
	}
	.contexte div:nth-child(2) p {
		padding-top: 226px;
		width: 48%;
		font-size: 16px;
		margin-left: 2%;
	}
	.contexte div.background {
		height: 74%;
		width: 38%;
		float: right;
		margin: 10% 6% 10% 3%;
	}
	.contexte div.do-more {
		margin-bottom: 200px;
	}
	.contexte div.do-more:after{
		width:20%;
	}
	.philosophie {
		height: 82vh;
	}
	.philosophie div {
		width: 71%;
		margin-left: 8%;
	}
	.equipe {
		height: 115vh;
	}
	.fonctionnement{
		height:32vh;
	}
	.fonctionnement div{
		margin-right:0;
	}
	.fonctionnement div p {
		font-size: 30px;
		line-height: 57px;
		width: 87%;
	}

	.titre{
		height:132vh;
	}

	.titre div:first-child {
		width: 100%;
		text-align: center;
	}
	.titre div h2 {
		margin: 13% 0 6% 0%;
	}
	.titre div:first-child p {
		width: 85%;
		margin: 0 0 8% 8%;
	}
	.titre div:first-child img {
		width: 50%;
		margin-left: 0%;
	}
	.titre div:nth-child(2) img{
		display: none;
	}
	.titre div:nth-child(2) .guillemet{
		margin: 19% 0 0 0;
	}
	.titre div:nth-child(2){
		width: 100%;
	}


}

@media screen and (max-width: 820px) {
	.contexte div img {
		margin: 424px 3% 0 -2%;
	}
	.philosophie {
		height: 92vh;
	}
}

@media screen and (max-width: 768px) {
	.side-menu {
		display: none;
	}
	.aboutus, .contexte, .equipe, .fonctionnement,.philosophie, .titre{
		padding-left: 0px;
		width: calc(100% - 0px);
		overflow: hidden;
	}
	.aboutus div.text {
		width: 50%;
		margin: 191px 0 0 53%;
	}
	.aboutus div.text p {
		width: 89%;
		padding:0;
	}
	.aboutus div.background {
		width: 50%;
		height: 68%;
	}
	.aboutus div.text h1 {
		font-size: 22px;
		margin-bottom:10%;
	}

	.contexte div:first-child p:nth-child(3) {
		width: 67%;
	}
	.contexte div img {
		margin: 380px 0% 0 -11%;
		width: 280px;
	}
	.contexte div:nth-child(2) p {
		padding-top: 206px;
		width: 41%;
		font-size: 14px;
		margin-left: 8%;
		text-align: right;
	}
	.contexte div.background {
		height: 59%;
		width: 45%;
		margin:10% 0% 0% 3%;
	}
	.contexte div.do-more {
		margin-bottom: 218px;
		margin-left:23%;
	}

	.philosophie {
		height: 72vh;
	}
	.philosophie h2 {
		margin-left: 4%;
	}
	.philosophie div {
		width: 79%;
		margin-left: 10%;
	}
	.equipe{
		height:130vh;
	}
	.equipe h3 {
		margin: 0% 0% 11%;
	}
	.equipe div div h4{
		text-align: center;
	}
	.equipe div div{
		width: 40%;
		margin: 2% 5%;
	}
	.equipe div div img {
		width: 66%;
	}
	.equipe div div p{
		text-align: center;
	}
	.fonctionnement {
		height: 38vh;
	}
	.fonctionnement div h2{
		margin-bottom:5%;
	}
	.fonctionnement div p {
		font-size: 43px;
		line-height: 60px;
		width: 90%;
	}
	.titre {
		height: 160vh;
	}
	.titre div:first-child p {
		width: 86%;
		margin: 0 0 8% 6%;
		line-height: 22px;
	}
	.titre div:nth-child(2) p {
		font-size: 35px;
		line-height: 45px;
		width: 85%;
		margin-left: 7%;
	}
	.titre div:first-child img {
		width: 40%;
	}
}

@media screen and (max-width: 600px) {
	.equipe{
		height:110vh;
	}
	.aboutus div.text {
		width: 74%;
		margin: 150px 0 0 30%;
	}
	.aboutus a {
		margin:0 33%;
	}
	.contexte div h2 {
		margin: 5% 0 10% 0;
	}
	.contexte div:first-child p:nth-child(3) {
		width: 83%;
		margin-bottom: 5%;
	}
	.contexte div img {
		margin: 370px 0% 0 -11%;
		width: 220px;
	}
	.contexte div.background {
		height: 57%;
		width: 46%;
		margin: 10% 0% 0% 3%;
	}
	.contexte div:nth-child(2) p {
		padding-top: 170px;
		width: 75%;
		font-size: 14px;
		margin-left: 6%;
	}
	.contexte div.do-more {
		margin-bottom: 241px;
		margin-left: 18%;
	}
	.contexte div.do-more i {
		margin: 0 13px;
	}
	.philosophie {
		height: 82vh;
	}
	.equipe {
		height: 105vh;
	}

	.equipe div div p{
		font-size: 11px;
	}
	.fonctionnement {
		height: 37vh;
	}
	.fonctionnement div p {
		font-size: 32px;
	}
	.titre {
		height: 161vh;
	}
	.titre div:first-child p {
		width: 89%;
		margin: 0px 0 8% 5%;
	}
	.titre div:first-child img {
		width: 58%;
	}
}

@media screen and (max-width: 450px) {
	.philosophie{
		height:90vh;
	}
	.equipe div div img {
		width: 91%;
	}
	.titre div:nth-child(2) p {
		font-size: 30px;
	}
}