{% extends "base.html.twig" %}

{% block body %}
        <div class="contact">
        <h1>Contact</h1>
            <div>
            <p class="bold">Pour toute demande de renseignements sur notre association, n’hésitez pas à nous contacter à notre
                nouvelle adresse: <span ><a href="mailto:yalla.enfants@gmail.com">yalla.enfants@gmail.com</a></span></p>
            <p class="bold">Nous vous répondrons au plus vite !</p>
            </div>

            <div>
             <h3>Adresse postale</h3>
                <p>Yalla! Pour les Enfants</p>
                <p>13, rue René Villerme – 75011 PARIS</p>
            </div>
            <div>
            <h3>Mentions légales</h3>
                <p>Association Yalla! Pour les Enfants </p>
                <p>13, rue René Villerme – 75011 PARIS </p>
                <p>Directrice de publication : Mary Lemeland-Mellionec </p>
                <p>Téléphone : +33 (0)6.17.77.71.22 </p>
            </div>
            <div>
            <h3>Hébergeur</h3>
                <p> Hébergeur : OVH </p>
                <p> 2 rue Kellermann – 59100 Roubaix – France </p>
            </div>
            <div>
                <a class="send-mail">
                    <p>Envoyer un mail</p>
                </a>
            </div>
            
            <img class="bg" src="dist/img/img-content/circle-background.png">
        </div>

    </div>
{% endblock %}
