{% extends "base.html.twig" %}

{% block body %}
<div class="main">

  <header>
    <div class="burger-icon">
      <div class="burger-stroke"></div>
      <div class="burger-stroke"></div>
      <div class="burger-stroke"></div>
    </div>

    <nav class="sidenav">
      <ul class="inlinks">
        <li><a href="">Nous connaître</a></li>
        <li><a href="missions.html">Notre mission</a></li>
        <li><a href="">Nos projets</a></li>
        <li><a href="">Nous soutenir</a></li>
        <li><a href="">Nos partenaires</a></li>
        <li><a href="">Contact</a></li>
      </ul>

      <div class="outlinks">
        <ul class="social-networks">
          <li><a href="" target="_blank"><i class="facebook"></i></a></li>
          <li><a href="" target="_blank"><i class="twitter"></i></a></li>
          <li><a href="" target="_blank"><i class="youtube"></i></a></li>
          <li><a href="" target="_blank"><i class="instagram"></i></a></li>
        </ul>
        <span>Suivez-nous</span>
      </div>
    </nav>
  </header>

  <section class="welcome">
    <div class="bckd"></div>
    <h2>Faites l'école, pas la guerre !</h2>

    <article class="about">
      <div class="photos">
          <div class="photo-content rellax">
            <div class="photo"></div>
          </div>
          <div class="photo-content">
            <div class="photo"></div>
          </div>
      </div>

      <div class="text">
        <h3>Yalla pour les enfants</h3>
        <p>
          <span class="drop-cap">P</span>our les Enfants vous convie le samedi 29 octobre à un fest-noz de levée de fonds dont les entiers bénéfices reviendront à son école d’Aley, située au Liban, à quelques kilomètres.
        </p>
        <div class="do-more">
          <i class="watch"></i>
          <span>Regarder</span>
        </div>
      </div>
    </article>
  </section>

  <section class="cause">
    <article class="cause">
      <div class="photos">
        <div class="photo"></div>
      </div>

      <div class="text">
        <h4>La cause</h4>
        <p>
          <span class="drop-cap">P</span>our les Enfants vous convie le samedi 29 octobre à un fest-noz de levée de fonds dont les entiers bénéfices reviendront à son école d’Aley, située au Liban, à quelques kilomètres.
        </p>
        <a href="">En savoir plus ></a>
      </div>
    </article>
  </section>

  <section class="actions">
    <article class="actions">
      <div class="text">
        <h4>Nos actions</h4>
        <h3>L'aide humanitaire de proximité</h3>
        <p>
          <span class="drop-cap">P</span>our les Enfants vous convie le samedi 29 octobre à un fest-noz de levée de fonds dont les entiers bénéfices reviendront à son école d’Aley, située au Liban, à quelques kilomètres.
        </p>
        <div class="do-more">
          <span>Ecouter</span>
          <i class="listen"></i>
        </div>
      </div>

      <div class="photos">
        <div class="photo-content">
          <div class="photo"></div>
        </div>
      </div>
    </article>
  </section>

  <section class="donate">
    <div class="text">
      <h3>L'aide humanitaire</h3>
      <p>
        Convie le samedi 29 octobre à un fest-noz de levée de fonds dont les entiers bénéfices reviendront à son école d’Aley, située au Liban.
      </p>
      <a href="" target="_blank">Faire un don</a>
    </div>
  </section>

  <section class="last-news">
    <article class="last-news">
      <div class="photos">
        <div class="photo"></div>
        <h3>L'aide humanitaire de proximité</h3>
      </div>

      <div class="text">
        <div class="do-more">
          <i class="read"></i>
          <span>Lire la suite</span>
        </div>
        <p>
          <span class="drop-cap">P</span>our les Enfants vous convie le samedi 29 octobre à un fest-noz de levée de fonds dont les entiers bénéfices reviendront à son école d’Aley, située au Liban, à quelques kilomètres.
        </p>
        <p>
          Nowadays, making printed materials have become fast, easy and simple. If you want your promotional material to be an eye-catching object, you should make it colored. By way of using inkjet printer this is not hard to make.
        </p>
      </div>
    </article>
  </section>
</div>
{% endblock %}
{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('js/rellax.min.js') }}"></script>
  <script>
    var rellax = new Rellax('.rellax');
  </script>
{% endblock %}
