{% extends "base.html.twig" %}

{% block body %}
    <div class="main">

      <header>
        <div class="burger-icon">
          <div class="burger-stroke"></div>
          <div class="burger-stroke"></div>
          <div class="burger-stroke"></div>
        </div>

        <nav class="sidenav">
          <ul class="inlinks">
            <li><a href="">Nous connaître</a></li>
            <li><a href="missions.html">Notre mission</a></li>
            <li><a href="">Nos projets</a></li>
            <li><a href="">Nous soutenir</a></li>
            <li><a href="">Nos partenaires</a></li>
            <li><a href="">Contact</a></li>
          </ul>

          <div class="outlinks">
            <ul class="social-networks">
              <li><a href="" target="_blank"><i class="facebook"></i></a></li>
              <li><a href="" target="_blank"><i class="twitter"></i></a></li>
              <li><a href="" target="_blank"><i class="youtube"></i></a></li>
              <li><a href="" target="_blank"><i class="instagram"></i></a></li>
            </ul>
            <span>Suivez-nous</span>
          </div>
        </nav>
      </header>

      <section class="strategy">
        <h2>Notre mission</h2>

        <article class="strategy">
          <div class="text">
            <h4>Notre stratégie</h4>
            <h3>Stratégie</h3>

            <div class="p-container">
              <p>
                <span class="drop-cap">T</span>oday, many people rely on computers to do homework, work, and create or store useful information. Therefore, it is important for the information on the computer to be stored and kept properly. It is also extremely important for people on computers to protect their computer from data loss, misuse, and abuse. For example, it is crucial for businesses to keep information they have secure so that hackers can’t access the information. Home users also need to take means to make sure that their credit card numbers are secure when they are participating in
              </p>

              <p>
                Businesses often become known today through effective marketing. The marketing may be in the form of a regular news item or half column society news in the Sunday newspaper. The marketing may be in the form of a heart to heart talk with Mr. Brown on his prominent local television show. These are all advertising. Businesses cannot get away from the force of advertising. If they want to make their products known in the marketplace they have to use some form of advertisement. Advertising is being more and more known as a 
              </p>
            </div>
          </div>

          <div class="photos">
            <div class="photo"></div>
          </div>
        </article>
      </section>

      <section class="actions">
        <article class="actions">
          <div class="photos">
            <div class="photo-content">
              <div class="photo"></div>
            </div>
          </div>

          <div class="text">
            <h4>Nos actions</h4>
            <h3>Actions</h3>
            <p>
              <span class="drop-cap">P</span>our les Enfants vous convie le samedi 29 octobre à un fest-noz de levée de fonds dont les entiers bénéfices reviendront à son école d’Aley, située au Liban, à quelques kilomètres.
            </p>
            <div class="do-more-alt">
              <i class="listen"></i>
              <span>Ecouter</span>
            </div>
          </div>
        </article>
      </section>

      <section class="goals">
        <article class="goals">
          <div class="text">
            <h4>Nos objectifs</h4>
            <h3>Objectifs</h3>

            <p>
              <span class="drop-cap">E</span>ver wondered how some graphic designers always manage to produce beautiful looking designs for their brochures, website designs, logo designs? Talent…yes, it helps but there are a handful of more important things you can do that will have even complete beginners producing award winning design.

              Forget everything you’ve ever been told about Graphic Design
            </p>

            <p>
              There are some hard and fast things that graphic designers will insist are to be obeyed. Only use limited fonts on a design for example or never use green on a magazine or book cover as people will not buy it. Stuff and nonsense. You can pretty much do whatever you like but you must apply these STRICT GRAPHIC DESIGN RULES and you will soon be walking away with graphic design silverware.

              Somewhere on the page you MUST put in a subliminal message
            </p>
          </div>

          <div class="photos">
            <div class="photo"></div>
          </div>
        </article>
      </section>
    </div>
{% endblock %}
