{% extends "base.html.twig" %}

{% block body %}
      <section class="strategy">
        <h2>Notre mission</h2>

        <article class="strategy">
          <div class="text">
            <h4>Notre stratégie</h4>
            <h3>Stratégie</h3>

            <div class="p-container">
              <p>
                <span class="drop-cap">I</span>ntégration des bénéficiaires et de la communauté d’accueil à tous les stades de développement du projet, afin de garantir une compréhension mutuelle des enjeux et objectifs du projet, et contribuer au succès de la mission<br>
                <br>
                Respect de la coordination de l’aide humanitaire menée par les agences humanitaires des Nations Unies, afin de s’intégrer dans une action globale et parvenir ensemble à plus d’efficacité pour répondre aux besoins les plus prégnants
              </p>

              <p>
                Création d’un lien dynamique entre les donateurs et les bénéficiaires afin de créer une solidarité de proximité et garantir une visibilite sur la destination et l’impact des dons quels que soient leurs montants, tout en faisant parvenir aux bénéficiaires un message de soutien concret de la part de la société civile solidaire
              </p>
            </div>
          </div>

          <div class="photos">
            <div class="photo-content">
              <div class="photo"></div>
            </div>
          </div>
        </article>
      </section>

  <section class="actions">
    <article class="actions">
      <div class="photos">
        <div class="photo-content">
          <div class="photo"></div>
        </div>
      </div>

      <div class="text">
        <h4>Nos actions</h4>
        <h3>Actions</h3>
        <p>
          <span class="drop-cap">C</span>réation de centres d’éducation informelle de qualité à destination d’enfants syriens réfugiés<br>
          <br>
          Plaidoyer auprès des autorités libanaises locales et gouvernementales pour l’intégration des enfants syriens au sein du système scolaire libanais, après remise à niveau par Yalla !<br>
          <br>
          Organisation d’activités sportives et artistiques à destination d’enfants libanais et syriens dans le cadre du dialogue intercommunautaire porté par Yalla!
        </p>
        <div class="do-more-alt">
          <i class="listen"></i>
          <span>Ecouter</span>
        </div>
      </div>
    </article>
  </section>

  <section class="goals">
    <article class="goals">
      <div class="text">
        <h4>Nos objectifs</h4>
        <h3>Garantir le droit a l’éducation et au dévellopement de l’enfant</h3>

        <p>
          <span class="drop-cap">P</span>ermettre le développement de l’enfant dans un environnement sécurisé et adapté afin qu’il retrouve confiance en lui et panse ses blessures liées à l’exil et au conflit
          Remettre l’enfant à niveau et le réhabituer au rythme scolaire
          Intégrer l’enfant au sein du système scolaire classique afin qu’il puisse obtenir un diplôme et lui donner toutes les chances de succès dans sa vie future<br>
          <br>
          ⇒ L’enfant se réalise en tant qu’individu et s’intègre à la société dans laquelle il évolue
        </p>

        <h3>Développer des mécanismes de construction de la paix</h3>

        <p>
          Des bénévoles syriens et des libanais de toutes confessions, ethnies et origines socio-économiques travaillent ensemble autour d’un projet fédérateur et apprennent à se connaître dans un environnement positif, où priment l’égalité et le respect mutuel
          Enfants syriens et libanais de toutes origines se découvrent autour d’activités ludiques<br>
          <br>
          ⇒ Les relations entre les diverses communautés sont pacifiées
        </p>
      </div>

      <div class="photos">
        <div class="photo-content">
          <div class="photo"></div>
        </div>
      </div>
    </article>
  </section>
    </div>
{% endblock %}
