{% extends "base.html.twig" %}

{% block body %}
    <div class="main">

      <header>
        <div class="burger-icon">
          <div class="burger-stroke"></div>
          <div class="burger-stroke"></div>
          <div class="burger-stroke"></div>
        </div>

        <nav class="sidenav">
          <ul class="inlinks">
            <li><a href="">Nous connaître</a></li>
            <li><a href="missions.html">Notre mission</a></li>
            <li><a href="">Nos projets</a></li>
            <li><a href="">Nous soutenir</a></li>
            <li><a href="">Nos partenaires</a></li>
            <li><a href="">Contact</a></li>
          </ul>

          <div class="outlinks">
            <ul class="social-networks">
              <li><a href="" target="_blank"><i class="facebook"></i></a></li>
              <li><a href="" target="_blank"><i class="twitter"></i></a></li>
              <li><a href="" target="_blank"><i class="youtube"></i></a></li>
              <li><a href="" target="_blank"><i class="instagram"></i></a></li>
            </ul>
            <span>Suivez-nous</span>
          </div>
        </nav>
      </header>

      <section class="last-news2">
        <h2>Nos articles</h2>
        
        <article class="news">
          <div class="photos">
            <img src="dist/img/img-content/news01.png" class="photo">
          </div>

          <div class="text">
            <span class="date">27 Oct 2017</span>
            <h3>Fest-noz solidaire le 29 octobre à Poullaouen</h3>
            <p>
              Yalla! Pour les Enfants vous convie le samedi 29 octobre à un fest-noz de levée de fonds dont les entiers bénéfices reviendront à son école d’Aley, située au Liban, à quelques kilomètres
            </p>
            <a href="">En savoir plus ></a>
          </div>
        </article>       
      </section>
      
      <section class="news">
        <h4>Tous nos articles</h4>
  
        <div class="news-container">
          <a href="">
            <article class="news">
                <span class="date">27 Oct 2017</span>
                <h3>Fest-noz solidaire le 29 octobre à Poullaouen</h3>
                <img src="dist/img/img-content/news01.png" class="photo">
                <p>
                  Yalla! Pour les Enfants vous convie le samedi 29 octobre à un fest-noz de levée de fonds dont les entiers bénéfices reviendront à son école d’Aley, située au Liban, à quelques kilomètres
                </p>
            </article>
          </a>

          <a href="">
            <article class="news">
                <span class="date">27 Oct 2017</span>
                <h3>Fest-noz solidaire le 29 octobre à Poullaouen</h3>
                <img src="dist/img/img-content/news01.png" class="photo">
                <p>
                  Yalla! Pour les Enfants vous convie le samedi 29 octobre à un fest-noz de levée de fonds dont les entiers bénéfices reviendront à son école d’Aley, située au Liban, à quelques kilomètres
                </p>
            </article>
          </a>

          <a href="">
            <article class="news">
                <span class="date">27 Oct 2017</span>
                <h3>Fest-noz solidaire le 29 octobre à Poullaouen</h3>
                <img src="dist/img/img-content/news01.png" class="photo">
                <p>
                  Yalla! Pour les Enfants vous convie le samedi 29 octobre à un fest-noz de levée de fonds dont les entiers bénéfices reviendront à son école d’Aley, située au Liban, à quelques kilomètres
                </p>
            </article>
          </a>

          <a href="">
            <article class="news">
                <span class="date">27 Oct 2017</span>
                <h3>Fest-noz solidaire le 29 octobre à Poullaouen</h3>
                <img src="dist/img/img-content/news01.png" class="photo">
                <p>
                  Yalla! Pour les Enfants vous convie le samedi 29 octobre à un fest-noz de levée de fonds dont les entiers bénéfices reviendront à son école d’Aley, située au Liban, à quelques kilomètres
                </p>
            </article>
          </a>

          <a href="">
            <article class="news">
                <span class="date">27 Oct 2017</span>
                <h3>Fest-noz solidaire le 29 octobre à Poullaouen</h3>
                <img src="dist/img/img-content/news01.png" class="photo">
                <p>
                  Yalla! Pour les Enfants vous convie le samedi 29 octobre à un fest-noz de levée de fonds dont les entiers bénéfices reviendront à son école d’Aley, située au Liban, à quelques kilomètres
                </p>
            </article>
          </a>

          <a href="">
            <article class="news">
                <span class="date">27 Oct 2017</span>
                <h3>Fest-noz solidaire le 29 octobre à Poullaouen</h3>
                <img src="dist/img/img-content/news01.png" class="photo">
                <p>
                  Yalla! Pour les Enfants vous convie le samedi 29 octobre à un fest-noz de levée de fonds dont les entiers bénéfices reviendront à son école d’Aley, située au Liban, à quelques kilomètres
                </p>
            </article>
          </a>

          <a href="">
            <article class="news">
                <span class="date">27 Oct 2017</span>
                <h3>Fest-noz solidaire le 29 octobre à Poullaouen</h3>
                <img src="dist/img/img-content/news01.png" class="photo">
                <p>
                  Yalla! Pour les Enfants vous convie le samedi 29 octobre à un fest-noz de levée de fonds dont les entiers bénéfices reviendront à son école d’Aley, située au Liban, à quelques kilomètres
                </p>
            </article>
          </a>

          <a href="">
            <article class="news">
                <span class="date">27 Oct 2017</span>
                <h3>Fest-noz solidaire le 29 octobre à Poullaouen</h3>
                <img src="dist/img/img-content/news01.png" class="photo">
                <p>
                  Yalla! Pour les Enfants vous convie le samedi 29 octobre à un fest-noz de levée de fonds dont les entiers bénéfices reviendront à son école d’Aley, située au Liban, à quelques kilomètres
                </p>
            </article>
          </a>

          <div class="pages">
            <span class="previous">Précédent</span>
            <ul class="pages">
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
            </ul>
            <span class="next">Suivant</span>
          </div>
        </div>
      </section>

    </div>
{% endblock %}
