{% extends "base.html.twig" %}

{% block body %}
        <section class="last-news2">
            <h2>Nos articles</h2>

            <article class="news">
                <div class="photos">
                    <img src="dist/img/img-content/news01.png" class="photo">
                </div>

                <div class="text">
                    <span class="date">27 Oct 2017</span>
                    <h3>Fest-noz solidaire le 29 octobre à Poullaouen</h3>
                    <p>
                        Yalla! Pour les Enfants vous convie le samedi 29 octobre à un fest-noz de levée de fonds dont les                         entiers bénéfices reviendront à son école d’Aley, située au Liban, à quelques kilomètres
                    </p>
                    <a href="">En savoir plus ></a>
                </div>
            </article>
        </section>

      <section class="news">
        <h4>Tous nos articles</h4>

        <div class="news-container">
            {% for article in data %}
          <a href="">
            <article class="news">
                <span class="date">{{ article.createdAt|localizeddate('full', 'none', app.request.locale)  }}</span>
                <h3>{{ article.title }}</h3>

                <img src="{{ asset("/uploads/images/articles/#{article.image}") }}" alt="">
                <p>
                  {{ article.synopsis|raw }}
                </p>
            </article>
          </a>
            {% endfor %}

          <div class="pages">
            <span class="previous">Précédent</span>
            <ul class="pages">
              <li>1</li>
              <li>2</li>
              <li>3</li>
              <li>4</li>
            </ul>
            <span class="next">Suivant</span>
          </div>
        </div>
      </section>

    </div>
{% endblock %}
