{% extends "base.html.twig" %}

{% block body %}
    <div class="main">

      <header>
        <div class="burger-icon">
          <div class="burger-stroke"></div>
          <div class="burger-stroke"></div>
          <div class="burger-stroke"></div>
        </div>

        <nav class="sidenav">
          <ul class="inlinks">
            <li><a href="">Nous connaître</a></li>
            <li><a href="missions.html">Notre mission</a></li>
            <li><a href="">Nos projets</a></li>
            <li><a href="">Nous soutenir</a></li>
            <li><a href="">Nos partenaires</a></li>
            <li><a href="">Contact</a></li>
          </ul>

          <div class="outlinks">
            <ul class="social-networks">
              <li><a href="" target="_blank"><i class="facebook"></i></a></li>
              <li><a href="" target="_blank"><i class="twitter"></i></a></li>
              <li><a href="" target="_blank"><i class="youtube"></i></a></li>
              <li><a href="" target="_blank"><i class="instagram"></i></a></li>
            </ul>
            <span>Suivez-nous</span>
          </div>
        </nav>
      </header>

      <section class="paper">
        <article class="paper">
          <span class="date">{{ data.createdAt|localizeddate('full', 'none', app.request.locale)  }}</span>

          <h3>{{ data.title }}</h3>

          <img src="{{ asset("/uploads/images/articles/#{data.image}") }}">

          <div class="text">
            <div class="side-infos">
              <ul>
                <li class="views">114 vues</li>
                <li class="share">Partager</li>
              </ul>
              <blockquote>Cette fête traditionnelle bretonne</blockquote>
            </div>

            <div class="paper-body">
              <p>
                Yalla! Pour les Enfants vous convie le samedi 29 octobre à un fest-noz de levée de fonds dont les entiers bénéfices reviendront à son école d’Aley, située au Liban, à quelques kilomètres de Beyrouth.
              </p>

              <p>
                Vous pourrez y apprécier les talents des musiciens et chanteurs, Marie-Hélène Baron, Laurent Bigot, Yann Boulanger, Jean-Daniel Bourdonnay, Pierre Crépillon, Annie Ebrel, Ifig Flatrès, Marie-Laurence Fustec, Riwal Fustec, Yann Goasdoué, Maurice Guillou, Jean-Paul Guyomarc’h, Jean Herrou, Brigitte Le Corre, Yann Le Corre, Bruno Le Manach, Marie-Noëlle Le Mapihan, Pierre-Yves Le Panse, François Perennes, Iffig Poho, Christian Rivoalen, qui s’engagent bénévolement pour soutenir Yalla! Pour les Enfants.
              </p>

              <p>
                Cette fête traditionnelle bretonne où règnent la bonne humeur, la convivialité, la gaieté fait écho au dialogue interculturel mené par Yalla ! Pour les Enfants qui entend réunir au travers de projets culturels communs la communauté d’accueil libanaise et la communauté syrienne en exil pour construire une paix durable. Avec la participation active de : Maryam Samaan, Cyrille Flejou, AFPS Centre Bretagne, la mairie de Poullaouen, Le Télégramme, Ouest-France, Radio Montagne Noire, Radio Kreiz Breizh, Radio Bleu Breizh Izel.
              </p>

              <span class="author">Glenn Black</span>
            </div>
          </div>

          <ul class="tags">
            <li class="tag">tag</li>
            <li class="tag">tag</li>
            <li class="tag">tag</li>
          </ul>
        </article>
      </section>

    </div>
{% endblock %}
