{% extends "base.html.twig" %}

{% block body %}
      <section class="paper">
        <article class="paper">
          <span class="date">{{ data.createdAt|localizeddate('full', 'none', app.request.locale)  }}</span>

          <h3>{{ data.title }}</h3>

          <img src="{{ asset("/uploads/images/articles/#{data.image}") }}">

          <div class="text">
            <div class="paper-body">
              <p>
                {{ data.body|raw }}
              </p>
            </div>
          </div>

          <ul class="tags">
            <li class="tag"></li>
          </ul>
        </article>
      </section>

    </div>
{% endblock %}
