{% extends "base.html.twig" %}

{% block body %}
  <div class="project__wrapper">
  <div class="projet">
    <h2>Nos projets</h2>
    <div>
      <div class="first-project project">
        <h4>Projet</h4>
        <h3>Ecole Yalla! à Aley</h3>
        <p><span>C</span>e projet a pour but 120 filles et garçons syriens réfugiés, âgés de 6 à 13 ans, répartis en 4 niveaux.
          Les cours auront lieu 4heures par jour / 5jours par semaine d’Octobre 2014 à juillet 2015 Pour en savoir plus
          lancer la vidéo
        </p>
      </div>
      <img src="{{ asset("/img/img-content/projet1.jpg") }}">
      <div class="do-more"><i class="watch"><span>Regarder</span></i></div>
    </div>

    <div class="second">
      <div class="second-project">
        <h3>Leurs conditions de vie</h3>
        <p>Certains réfugiés sont hébergés chez des proches, d’autres ont pour le moment les moyens de louer un appartement. Mais la majorité d’entre eux font face à de grandes difficultés de logement : dans les villes, les familles vivent dans des conditions de suroccupation, dans la plaine de la Bekka, elles s’abritent sous des tentes de fortune sujettes aux intempéries et aux incendies.

          Dans ces conditions, l’éducation est délaissée au profit des besoins les plus élémentaires. Elle est pourtant indispensable au bon développement de l’enfant et constitue un de ses droits inaliénables. Yalla! se fixe donc pour priorité d’apporter une éducation aux enfants syriens défavorisés.
        </p>

        <a href="#">AIDEZ-NOUS</a>
      </div>
      <img src="{{ asset("/img/img-content/projet2.png") }}">
      <img class="bg" src="{{ asset("/img/img-content/circle-background.png") }}">
    </div>

    <div class="old">
      <div class="first-old-project">
        <h4>Projet passé</h4>
        <h3>Ecole Yalla! à Karam Zeitoun</h3>
        <p><span>D</span>e mars à juillet 2014, Yalla! a ouvert une école informelle accueillant 50 enfants syriens réfugiés dans le quartier de Karam Zeitoun à Beyrouth. L’équipe pédagogique, composée d’une directrice des études libanaise et de trois professeurs syriens réfugiés, ont remis à niveau 50 enfants syriens réfugiés en arabe, mathématiques et anglais.
        </p>
      </div>
      <img src="{{ asset("/img/img-content/projet3.jpg") }}" alt="map syria" title="map syria">
      <div class="more"><span>Ecouter</span> <i class="listen"></i></div>
    </div>
  </div>
  </div>
{% endblock %}
