{% extends "base.html.twig" %}

{% block body %}
    <div class="main">
      
      <header>
          <div class="burger-icon">
            <div class="burger-stroke"></div>
            <div class="burger-stroke"></div>
            <div class="burger-stroke"></div>
          </div>

          <nav class="sidenav">
            <ul class="inlinks">
              <li><a href="">Nous connaître</a></li>
              <li><a href="missions.html">Notre mission</a></li>
              <li><a href="">Nos projets</a></li>
              <li><a href="">Nous soutenir</a></li>
              <li><a href="">Nos partenaires</a></li>
              <li><a href="">Contact</a></li>
            </ul>

            <div class="outlinks">
              <ul class="social-networks">
                <li><a href="" target="_blank"><i class="facebook"></i></a></li>
                <li><a href="" target="_blank"><i class="twitter"></i></a></li>
                <li><a href="" target="_blank"><i class="youtube"></i></a></li>
                <li><a href="" target="_blank"><i class="instagram"></i></a></li>
              </ul>
              <span>Suivez-nous</span>
            </div>
          </nav>
        </header>

      <div class="projet">
          <div>
              <div class="first-project">
                  <h2>Projet</h2>
                  <h1>L’aide humanitaire de proximité</h1>
                  <p><span>P</span>our les Enfants vous Many of us are so used to working on a computer desktop that when it
                      comes time to purchase a new computer, we don’t consider other options. Today, computer notebooks –
                      which were once called laptops – offer a number of advantages over a computer desktop. Here are just
                      five reasons why you should take a second look at notebooks.r a computer desktop. Here are just
                      five reasons why you should take a second look at notebooks.
                  </p>
              </div>

              <img src="dist/img/img-content/projet1.jpg">
              <div class="do-more"><i class="watch"><span>Regarder</span></i></div>
          </div>

          <div class="second">
              <div class="second-project">
                  <h3>L'aide humanitaire</h3>
                  <p>Another title for this article can be “How to write an ad that will be immediately thrown into a waste
                      paper basket?”. But it is too long. In their business advertisers have to follow some rules to enhance
                      the process of customer’s perception of the presented information. However, they are very often overlooked.
                      It is really very annoying. So I suggest turning everything upside down and to make a flop of your ad take
                      advantage of this “wrong” advice: The first wrong advice. Open your ad with the words “If you want …”
                      The client will hesitate whether he really needs your service or goods. As a rule, he comes to conclusion
                      that he will buy it later, but not now.
                  </p>

                  <a href="#">AIDEZ-NOUS</a>
              </div>
              <img src="dist/img/img-content/projet2.png">
              <img class="bg" src="dist/img/img-content/circle-background.png">
          </div>

          <div class="old">
             <div class="first-old-project">
                 <h2>Projet passé</h2>
                 <h1>L’aide humanitaire de proximité</h1>
                 <p><span>P</span>our les Enfants vousIn today’s net-savvy world it has become common for any business
                     to have a website which they use mostly for advertising their products and services. With the advent
                     of search engines it has become even easier for the customers to search for the stuff online. For a
                     website to be successful its link should land in the first three pages which the search engine brings
                     and the rank of the page should be high which means many visitors come to the site. This can be achieved
                     by applying search engine optimization or popularly known as SEO. This is a marketing strategy which
                     increases the quality and quantity of traffic flow to a particular website via search engines. SEO not
                     only affects the search engine results, but also image search, video search and industry specific vertical
                     search engines. It determines how a search algorithm For a website to be successful its link should land
                     in the first three pages which the search engine brings and the rank of the page should be high which means many visitors come to
                 </p>
             </div>
              <img src="dist/img/img-content/projet3.jpg" alt="map syria" title="map syria">
              <div class="more"><span>Ecouter</span> <i class="listen"></i></div>
          </div>

          <div class="second-old-project">
                  <h2>Projet passé</h2>
                  <h1>L’aide humanitaire de proximité</h1>
                  <p><span>P</span>our les Enfants vousIn today’s net-savvy world it has become common for any business
                      to have a In today’s net-savvy world it has become common for any business to have a website which
                      they use mostly for advertising their products and services. With the advent of search engines it
                      has become even easier for the customers to search for the stuff online. For a website to be successful
                      its link should land in the first three pages which the search engine brings and the rank of the page
                      should be high which means many visitors come to the site. This can be achieved by applying search
                      engine optimization or popularly known as SEO. This is a marketing strategy which increases the quality
                      and quantity of traffic flow to a particular website via search engines. SEO not only affects the search
                      engine results, but also image search, video search and industry specific vertical search engines. It determines how a search algorithm/
                  </p>

                  <a href="#" class="word">
                      <img src="dist/img/img-content/download.svg">
                      <p>PDF</p>
                  </a>
                  <a href="#" class="word">
                      <img src="dist/img/img-content/download.svg">
                      <p>WORD</p>
                  </a>

                  <p>Tout enfant et tout bénévole est considéré par Yalla ! de la même façon, quelque soit son sexe, sa nationalité
                      ou son appartenance ethnique ou religieuse. Yalla ! promeut l’égalité fille-garçon à travers ses activités
                      et enseignements. La mixité au sein des équipes de bénévoles est également un impératif.
                  </p>
          </div>
      </div>

  </div>
{% endblock %}
