footer .bg{
	background: url(img-content/footer-bg.png) no-repeat;
	height: 70vh;
	background-size: contain;
	position: relative;
}
footer div.bg div.w64{
	width: 72%;
	margin: 9% 14% 0;
	padding-top: 2%;
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	align-items: center;
	justify-content: center;
	background:white;
}
footer div.bg div.w64 a{
	margin:2% 7%;
}
footer div.bg div.w64 div:first-child{
	padding-top: 3%;
}
footer .bg .w64 div a img{
	margin: 15px;
}
footer .flex{
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	width:86%;
	border-bottom: 2px solid #979797;
	padding-bottom:3%;
	flex-wrap: wrap;
}
footer .flex div{

	font-family: Cardo;
	font-weight: 400;
	font-size: 13px;

}
footer .flex ul {
	list-style: none;
	padding:0;
}
footer .flex h5{
	font-size: 17px;
}
footer a {
	text-decoration: none;
	color: black;
	cursor: pointer;
}
footer a:hover{
	color: #F38C3E;
}
footer .flex ul .inline {
	display: inline-block;
	margin: 14% 2%;
}
footer .flex ul .inline:first-child{
	margin-left:5%;
}
footer p {
	display: flex;
	justify-content: center;
	font-family: Cardo;
	font-weight: 400;
	font-size: 15px;
	margin:2% 0 6%;
}

@media screen and (max-width: 750px) {
	footer .flex div{
		font-family: Cardo;
		font-weight: 400;
		width: 50%;
		font-size: 13px;
		justify-content: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	footer .bg {
		height: 75vh;
	}
}
@media screen and (max-width: 600px) {
	footer .bg {
		height: 80vh;
	}
}
@media screen and (max-width: 500px) {
	footer div.bg div.w64 a{
		margin:2% 8%;
	}
	footer .bg {
		height: 77vh;
	}
}